name: C++ Norm Checker

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up C++ environment
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: Check C++ norm by Laplace Linter
        run: |
          python3 Scripts/cpp_norm_checker.py